<div class="row">
  <div class="col-sm-6">
    <h2>Player 1</h2>
    <h3>Name: $playerOne.getName()</h3>
    <h4>Score: $playerOne.getAmountOfPairs()</h4>
  </div>
  <div class="col-sm-6">
    <h2>Player 2</h2>
    <h3>Name: $playerTwo.getName()</h3>
    <h4>Score: $playerTwo.getAmountOfPairs()</h4>
  </div>
</div>
<h5>$turnPlayer.getName's Turn. Make your move</h5>
<a href="/$player.getId()">Make Move</a>
