<h1>Welcome to Go Fish</h1>

<form class="form-group" action="/" method="post">
  <div class="form-control">
    <label for="player1">Enter Your Name</label>
    <input type="text" name="player1" id="player1">
  </div>
  <div class="form-control">
    <label for="player2">Enter Your Name</label>
    <input type="text" name="player2" id="player2">
  </div>
<button type="submit" class="btn">Play Game</button>
</form>
